body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #006400;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    
}

#img-panel {
    border: 1px white solid;
    border-right: none;
}

#image {
    margin: 30px auto;
    width: 200px;
}

@media only screen and (max-width: 760px) {
    #image {
        margin: 30px auto;
        width: 150px;
    }
}

#game-info-panel {
    border: 1px white solid;
}
#start-game {
    text-align: center;
    color: lightyellow;
    font-weight: 1000;
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
    50% {
      opacity: 0.3;
    }
}

#current-word {
    color: #FF5627;
    font-weight: 1000;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 0.5px dotted white;
}
#wins, #remaining-guesses, #letters-guessed { 
    color: yellow;
    font-weight: 700;
    text-align: center;
}
.label {
    margin-bottom: 5px;
}
